*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body
{
    scroll-behavior: smooth !important;
} 

/*nabvar*/
.navbar
{
    box-shadow: 0 0 10px;
    background-color: #232526;
}

.navbar-toggler
{
    border: none;
    outline: none;
}

.fa-bars
{
    color: #fff;
    border: none;
    font-size: 34px;
}

.navbar-nav
{
    align-items: center;
    margin-top: 30px;
}

.navbar-nav li
{
    margin: 5px 0;
}

.navbar-nav li a
{
    color: white;
    font-weight: 50;
}

.navbar-nav li a:hover
{
    color: coral;
}
/*fin nabvar*/

/*banner section*/
#banner
{
    background: #232526;
    display: flex;
    align-items: center !important;
    justify-content: center;
    width: 100%;
    height: 60vh;
    text-align: center;
    padding: 10px !important;
}

#banner h1 
{
    font-size: 40px !important;
    font-weight: 800;
    text-shadow: 0 0 1px !important;
    color: #fff;
}

#banner span
{
    color: coral;
    letter-spacing: 1px;
    text-shadow: 0 0 2px;
}

#banner p
{
    margin-bottom: 30px;
    font-size: 14px;
    margin-top: 20px;
    color: #fff;
}

.boton
{
    border: 1px solid black;
    background: transparent;
    padding: 12px 32px;
    cursor: pointer;
    transition: all 1s ease;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

.boton:hover
{
    background-color: coral;
    color: #111;
    box-shadow: 0 0 5px;
}

.olas
{
    background: #232526;
    width: 100%;
    background-position: center;
    background-size: cover;
}
/*fin banner section*/

/*quinees somos*/
#who
{
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center !important;
}

.quienes h2
{
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.quienes p
{
    font-size: 12px;
}
/*fin quienes somos*/

/*cursos*/
#cursos
{
    margin-top: 60px; 
    background: #232526;

}

#cursos h2
{
    color: #fff;
    text-align: center;
    font-size: 26px;
    padding: 20px !important;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}

.direccion
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contenedor
{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.carta
{
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #313436;
    height: 200px;
    margin: 5px 0;
    box-shadow: 0 0 8px #313436;
    padding: 10px;
}

.img-fluid
{
    filter: brightness(50%);
    padding: 2px;
}

.carta .titulo
{
    
    color: #fff;
}

.carta .texto
{
    color: #fff;
}

.carta .enlace
{
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    color: #fff;
}

.carta .enlace:hover
{
    background-color: coral;
    color: #111;
    border: #111;
}
/*fin cursos*/

/*contacto*/
#contacto
{
    margin-top: 60px;
}

#contacto h2
{
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    
}

.caja
{
    padding: 10px;
}

.formulario
{
    border: 2px solid #232526;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.but
{
    outline: none;
    border: 1px solid #111;
    background: transparent;
}

.but:hover
{
    background: coral;
}